img {
  max-width: 300px;
}

.img1 {
  z-index: 10;
  position: absolute;
}

.img2 {
  position: absolute;
  margin: -10px 0 0 -10px;
}

.img3 {
  position: fixed;
  left: 50%;
  top: 50%;
}

.img4 {
  position: absolute;
  right: 0;
  bottom: 0;
}
