.title{
font-size: 24px;
text-align: center;
margin: 0;
font-weight: normal;
}

.subtitle{
font-size: 18px;
text-align: center;
margin: 0;
}

.content{
font-family: "Comic Sans MS";
font-size: 12px;
}
.emph{
font-style: italic;

}